<form class="form-inline" action="/add" method="POST">
    <div class="form-group">
        <h4><strong>Id: </strong>
        <input class="form-control" type="text" name="id" />
        <h4><strong>Name: </strong>
        <input class="form-control" type="text" name="name" />
        <h4><strong>Age: </strong>
        <input class="form-control" type="text" name="age" />
        <input type="submit" class="btn btn-primary" />
    </div>
</form>